<div class="note-form">
  <form id="note-form">
    <% if(note.id) { %>
    <input type="hidden" name="id" id="note-id" value="<%= note.get('id') %>"/>
    <% } %>
    <div class="field">
      <label for="note_title">Title:</label>
      <input type="text" name="title" id="note-title" value="<%= note.get('title') %>"/>
    </div>
    <div class="field">
      <label for="note_content">Content:</label>
      <textarea name="content" id="note-content"><%= note.get('content') %></textarea>
    </div>
    <div class="field">
      <% if(note.get('permission') === 'private') { %>
      <input type="checkbox" name="permission" checked id="note-permission" value="<%= note.get('permission') %>" />
      <% } else { %>
      <input type="checkbox" name="permission" id="note-permission" value="<%= note.get('permission') %>" />
      <% } %>
      <label for="note_permission">Make this private:</label>
    </div>
    <div class="field">
      <button id="save-note">Save</button>
      <button id="cancel-note">Cancel</button>
    </div>
  </form>
</div>
