<div class="note-form">
  <form id="note-form">
    <div class="field">
      <label for="note_title">Title:</label>
      <input type="text" name="note[title]" id="note-title" />
    </div>
    <div class="field">
      <label for="note_content">Content:</label>
      <input type="textarea" name="note[content]" id="note-content" />
    </div>
    <div class="field">
      <input type="checkbox" name="note[permission]" id="note-permission" value="1" />
      <label for="note_permission">Make this private:</label>
    </div>
    <div class="field">
      <button type="submit" id="save-note">Save</button>
      <button id="cancel-note">Cancel</button>
    </div>
  </form>
</div>
